Repository equinor/amplify-component-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: hadolint Dockerfile -t warning, eslint --fix, prettier --write

.lintstagedrc.yaml:

'Dockerfile': ['hadolint Dockerfile -t warning']
"*.{js,mjs,tsx,ts,tsx,css}": ['eslint --fix', 'prettier --write']

:recycle: Refactor prop usage in styled components
  src/molecules/Stepper/Step/Step.tsx
  src/molecules/Stepper/Stepper.tsx
  src/organisms/SideBar/CreateItem.styles.ts
  src/organisms/Template/Template.tsx
Due: eslint --fix, prettier --write

:white_check_mark: Added test for extractYearsData util fn
  src/organisms/ReleaseNotesPage/ReleaseNotesPage.utils.test.tsx
Due: eslint --fix, prettier --write

:white_check_mark: Adding storybook tests to increase fn coverage
  src/molecules/Dialog/Dialog.stories.tsx
  src/molecules/Stepper/Stepper.stories.tsx
  src/molecules/Stepper/Stepper.test.tsx
  src/organisms/SideBar/SideBar.stories.tsx
  src/organisms/TopBar/Notifications/Notifications.stories.tsx
  src/providers/TutorialHighlightingProvider/TutorialHighlightingProvider.stories.tsx
Due: eslint --fix, prettier --write

:white_check_mark: Move Filter > autocomplete test to storybook
  src/organisms/Filter/Filter.stories.tsx
  src/organisms/Filter/Filter.test.tsx
Due: eslint --fix, prettier --write

:white_check_mark: 100% test coverage
  src/atoms/types/Guidelines.ts
  src/organisms/SideBar/SideBar.stories.tsx
  src/organisms/TopBar/Account/Account.stories.tsx
  src/organisms/TopBar/ApplicationDrawer/ApplicationDrawer.stories.tsx
  src/organisms/TopBar/FieldMenu/FieldMenu.stories.tsx
  src/organisms/TopBar/Guidelines/Guidelines.stories.tsx
  src/organisms/TopBar/Guidelines/Guidelines.tsx
  src/organisms/TopBar/Notifications/Notifications.stories.tsx
  src/organisms/TopBar/Settings.stories.tsx
  src/organisms/TopBar/Settings.tsx
  src/organisms/TopBar/TopBar.stories.tsx
  src/organisms/TopBar/TopBar.tsx
Due: eslint --fix, prettier --write

:fire: Remove ContentMenu + SingleFilterMenu
  src/molecules/ContentMenu/ContentMenu.jsdom.test.tsx
  src/molecules/ContentMenu/ContentMenu.stories.tsx
  src/molecules/ContentMenu/ContentMenu.styles.ts
  src/molecules/ContentMenu/ContentMenu.test.tsx
  src/molecules/ContentMenu/ContentMenu.tsx
  src/molecules/SingleFilterMenu/SingleFilterMenu.stories.tsx
  src/molecules/SingleFilterMenu/SingleFilterMenu.test.tsx
  src/molecules/SingleFilterMenu/SingleFilterMenu.tsx
  src/molecules/index.ts
Due: eslint --fix, prettier --write

:bug: Fix FileUploadArea drag over scrim
  src/molecules/FileUploadArea/FileUploadArea.tsx
Due: eslint --fix, prettier --write

:arrow_up: Using latest SAM npm version
  bun.lock
  package.json
Due: none

:white_check_mark: Make RTE image upload test more specific
  src/molecules/RichTextEditor/RichTextEditor.test.tsx
Due: eslint --fix, prettier --write

:green_heart: Fix docker build
  Dockerfile
  bun.lock
  package.json
  public/mockServiceWorker.js
Due: hadolint Dockerfile -t warning, eslint --fix, prettier --write

:fire: Remove 'top' offset by scroll on Waves component
  src/molecules/Waves/Waves.tsx
Due: eslint --fix, prettier --write

:wastebasket: Deprecate 'onImageRemove'
  src/molecules/RichTextEditor/RichTextEditor.types.ts
Due: eslint --fix, prettier --write

:bug: Fix rich text editor 'onRemovedImagesChange' return wrong array
  src/molecules/RichTextEditor/EditorProvider.tsx
Due: eslint --fix, prettier --write

:bookmark: 10.0.1
  package.json
Due: none

🧑‍💻 Override Datepicker defaultValue types
  src/molecules/DatePicker/DatePicker.tsx
Due: eslint --fix, prettier --write

🔖 Bump version
  package.json
Due: none

Override Datepicker defaultValue types (#1154)
  package.json
  src/molecules/DatePicker/DatePicker.tsx
Due: eslint --fix, prettier --write

:bug: Fix TOC hash mode not scrolling to elements when selecting
  src/providers/TableOfContentsProvider.tsx
Due: eslint --fix, prettier --write

:bookmark: 10.0.3
  package.json
Due: none

:boom: Fix name spacings override
  src/atoms/style/spacingTokens.ts
Due: eslint --fix, prettier --write

:bug: Fix 'see all release notes' click not closing dialog or topbar menu
  src/organisms/TopBar/Resources/ReleaseNotesDialog/ReleaseNotesDialog.tsx
  src/organisms/TopBar/Resources/Resources.tsx
Due: eslint --fix, prettier --write

:bookmark: 10.0.4
  package.json
Due: none

:bug: Fix search params change breaking TOC hash mode
  src/providers/TableOfContentsProvider.tsx
Due: eslint --fix, prettier --write

:bug: Fix bad TOC hash mode init when missing hash
  src/providers/TableOfContentsProvider.tsx
Due: eslint --fix, prettier --write

:bookmark: 10.0.5
  package.json
Due: none

:white_check_mark: Adding test for case when element/value isn't found in TOC
  src/providers/TableOfContentsProvider.jsdom.test.tsx
  src/providers/TableOfContentsProvider.tsx
Due: eslint --fix, prettier --write

🐛 Decode URL before comparison
  src/organisms/SideBar/MenuItem/MenuItem.utils.ts
Due: eslint --fix, prettier --write

🔖 Bump version to 10.0.6
  package.json
Due: none

:sparkles: Added 'openOnFocus' prop to Filter component
  src/organisms/Filter/Filter.stories.tsx
  src/organisms/Filter/Filter.tsx
  src/organisms/Filter/Filter.types.ts
Due: eslint --fix, prettier --write

:white_check_mark: Added story with test for 'openOnFocus'
  src/organisms/Filter/Filter.stories.tsx
Due: eslint --fix, prettier --write

:lipstick: Latest TOC menu styling
  src/organisms/ReleaseNotesPage/ReleaseNotesPage.tsx
  src/organisms/TableOfContents/TableOfContents.constants.ts
  src/organisms/TableOfContents/TableOfContents.jsdom.test.tsx
  src/organisms/TableOfContents/TableOfContents.stories.tsx
  src/organisms/TableOfContents/TableOfContents.styles.ts
  src/organisms/TableOfContents/TableOfContents.test.tsx
  src/organisms/TableOfContents/TableOfContents.tsx
  src/organisms/TableOfContents/TableOfContents.types.ts
  src/organisms/TableOfContents/TableOfContentsItem.tsx
Due: eslint --fix, prettier --write

:lipstick: Override tab chip styling for tabs used in TOC component
  src/molecules/Badge/Badge.styles.tsx
  src/organisms/TableOfContents/TableOfContents.stories.tsx
  src/organisms/TableOfContents/TableOfContents.styles.ts
  src/organisms/TableOfContents/TableOfContents.tsx
  src/organisms/TableOfContents/TableOfContentsItem.tsx
Due: eslint --fix, prettier --write

:construction_worker: Allow 'feat/' branches to go to feature env
  .github/workflows/pull_request.yaml
  radixconfig.yaml
Due: none

:white_check_mark: Fixing broken tests
  src/molecules/Badge/Badge.jsdom.test.tsx
  src/providers/TableOfContentsProvider.jsdom.test.tsx
Due: eslint --fix, prettier --write

:bug: Fix long text breaking TOC
  src/organisms/TableOfContents/TableOfContents.stories.tsx
  src/organisms/TableOfContents/TableOfContents.styles.ts
  src/organisms/TableOfContents/TableOfContentsItem.tsx
Due: eslint --fix, prettier --write

:sparkles: Created TableHeader component
  src/molecules/TableHeader/TableHeader.stories.tsx
  src/molecules/TableHeader/TableHeader.styles.ts
  src/molecules/TableHeader/TableHeader.tsx
  src/molecules/TableHeader/TableHeader.utils.ts
Due: eslint --fix, prettier --write

:recycle: Creating TopBarInternalContextProvider so we don't have to pass field to feedback component
  src/organisms/TopBar/Resources/Feedback/Feedback.test.tsx
  src/organisms/TopBar/Resources/Feedback/Feedback.tsx
  src/organisms/TopBar/Resources/Feedback/Feedback.utils.ts
  src/organisms/TopBar/Resources/Feedback/providers/FeedbackContextProvider.tsx
  src/organisms/TopBar/Resources/Feedback/tests/ReportABug.test.tsx
  src/organisms/TopBar/Resources/Feedback/tests/SuggestAFeature.test.tsx
  src/organisms/TopBar/TopBar.tsx
  src/organisms/TopBar/TopBarInternalContextProvider.tsx
Due: eslint --fix, prettier --write

:white_check_mark: Update tests
  src/organisms/TopBar/Resources/Feedback/Feedback.test.tsx
  src/organisms/TopBar/Resources/Feedback/tests/ReportABug.test.tsx
  src/organisms/TopBar/Resources/Feedback/tests/SuggestAFeature.test.tsx
Due: eslint --fix, prettier --write

:white_check_mark: Fix test wrappers
  src/organisms/TopBar/FieldMenu/FieldMenu.tsx
  src/organisms/TopBar/Resources/Feedback/Feedback.test.tsx
  src/organisms/TopBar/Resources/Feedback/tests/ReportABug.test.tsx
  src/organisms/TopBar/Resources/Feedback/tests/SuggestAFeature.test.tsx
  src/organisms/TopBar/TopBar.test.tsx
Due: eslint --fix, prettier --write

:white_check_mark: Add TOC disabled with count test
  src/organisms/ReleaseNotesPage/ReleaseNotesPage.stories.tsx
  src/organisms/TableOfContents/TableOfContents.stories.tsx
Due: eslint --fix, prettier --write
