Repository equinor/amplify-component-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: hadolint Dockerfile -t warning, eslint --fix, prettier --write

.lintstagedrc.yaml:

'Dockerfile': ['hadolint Dockerfile -t warning']
"*.{js,mjs,tsx,ts,tsx,css}": ['eslint --fix', 'prettier --write']

:white_check_mark: Fix bad test env variable
  src/organisms/TopBar/Account/Account.jsdom.test.tsx
Due: eslint --fix, prettier --write

:sparkles: Added APIErrorSnackbar wrapper that shows failed requests as a snackbar
  src/providers/SnackbarProvider/APIErrorSnackbar.tsx
  src/providers/SnackbarProvider/SnackbarProvider.tsx
Due: eslint --fix, prettier --write

:adhesive_bandage: Fix install script not installing the expected test-utils
  config/config_files/test-utils/playwright.ts
  config/config_files/test-utils/setupTests.ts
  config/config_files/test-utils/utils.ts
  config/testutils_config_list.txt
Due: eslint --fix, prettier --write

:alembic: Try caching coverage reports from the different test runs
  .github/workflows/browser_tests.yaml
  .github/workflows/code_coverage.yaml
  .github/workflows/jsdom_tests.yaml
  .github/workflows/pull_request.yaml
  .github/workflows/tests.yaml
Due: none

:alembic: Set threshold 100 to false when running the tests
  .github/workflows/browser_tests.yaml
  .github/workflows/jsdom_tests.yaml
  .github/workflows/tests.yaml
Due: none

:alembic: Try checking code coverage after 2 separate runs
  .github/workflows/browser_tests.yaml
  .github/workflows/jsdom_tests.yaml
  .github/workflows/tests.yaml
Due: none

:alembic: Add continue-on-error
  .github/workflows/browser_tests.yaml
  .github/workflows/jsdom_tests.yaml
Due: none

:alembic: Re-add caching of coverage directories
  .github/workflows/browser_tests.yaml
  .github/workflows/jsdom_tests.yaml
  .github/workflows/tests.yaml
Due: none

:alembic: Try joining coverage final
  .github/workflows/browser_tests.yaml
  .github/workflows/jsdom_tests.yaml
  .github/workflows/tests.yaml
Due: none

:alembic: bunx -> bun x
  .github/workflows/tests.yaml
Due: none

:alembic: Try running tests concurrently instead
  .github/workflows/tests.yaml
Due: none

:alembic: Run tests in separate action and cache coverage report
  .github/workflows/browser_tests.yaml
  .github/workflows/code_coverage.yaml
  .github/workflows/pull_request.yaml
  .github/workflows/tests.yaml
  package.json
  vitest.config.ts
Due: eslint --fix, prettier --write

:alembic: Update action job names
  .github/workflows/tests.yaml
Due: none

:alembic: Change vitest command that is run
  .github/workflows/tests.yaml
Due: none

:alembic: Add vite config path to coverage action
  .github/workflows/code_coverage.yaml
Due: none

:wrench: Update vitest config coverage
  vitest.config.ts
Due: eslint --fix, prettier --write

:sparkles: Add ability to have Guidelines section items as just elements
  src/atoms/types/Guidelines.ts
  src/organisms/TopBar/Guidelines/Guidelines.test.tsx
  src/organisms/TopBar/Guidelines/Guidelines.tsx
Due: eslint --fix, prettier --write

:alembic: Remove threshold CLI flags when running tests in CI
  .github/workflows/tests.yaml
Due: none

:alembic: Add --watch false to test run
  .github/workflows/tests.yaml
Due: none

:alembic: Remove vite config path in report coverage step
  .github/workflows/code_coverage.yaml
Due: none

:alembic: Add "--" before flags
  .github/workflows/tests.yaml
Due: none

:alembic: Change how actions were structured
  .github/workflows/code_coverage.yaml
  .github/workflows/jsdom_tests.yaml
  .github/workflows/pull_request.yaml
  .github/workflows/tests.yaml
  src/molecules/Select/Select.test.tsx
Due: eslint --fix, prettier --write

:alembic: Get vitest config to report correctly
  .github/workflows/tests.yaml
Due: none

:alembic: Change to faker.animal.cow
  src/molecules/Select/Select.test.tsx
Due: eslint --fix, prettier --write

:wastebasket: Deprecated unneeded type renaming
  src/organisms/SideBar/index.ts
Due: eslint --fix, prettier --write

:alembic: Add threshold CI args
  .github/workflows/tests.yaml
Due: none

:alembic: Try checking stdout of test run to see if tests failed / coverage wasn't met
  .github/workflows/tests.yaml
Due: none

:alembic: Force 1 test to fail
  .github/workflows/tests.yaml
  src/providers/LoadingProvider.test.tsx
Due: eslint --fix, prettier --write

:alembic: Change how check for failed test run works
  .github/workflows/tests.yaml
Due: none

:alembic: Make github action fail using core.setFailed
  .github/workflows/tests.yaml
Due: none

:alembic: Add join() to outputs
  .github/workflows/tests.yaml
Due: none

:alembic: Add == 'true' to checks
  .github/workflows/tests.yaml
Due: none

:ambulance: Use imbios/bun-node:22-alpine to build in dockerfile
  config/config_files/Dockerfile
Due: hadolint Dockerfile -t warning

:alembic: Wrap contains in {{}}
  .github/workflows/tests.yaml
Due: none

:alembic: Move tests check to separate job to avoid the others being stopped
  .github/workflows/tests.yaml
Due: none

:arrow_up: Bump MSAL packages
  bun.lockb
  package.json
Due: none

Downgrade msal packages
  bun.lockb
  package.json
Due: none

:bookmark: 9.1.1
  package.json
Due: none

:alembic: Test failing coverage
  .idea/runConfigurations/_template__of_JavaScriptTestRunnerVitest.xml
  .idea/runConfigurations/_template__of_JavaScriptTestRunnerVitest2.xml
  src/providers/LoadingProvider.test.tsx
Due: eslint --fix, prettier --write

:alembic: Change "test failed" condition
  .github/workflows/tests.yaml
Due: none
