Repository equinor/amplify-component-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: hadolint Dockerfile -t warning, eslint --fix, prettier --write

.lintstagedrc.yaml:

'Dockerfile': ['hadolint Dockerfile -t warning']
"*.{js,mjs,tsx,ts,tsx,css}": ['eslint --fix', 'prettier --write']

:white_check_mark: Improve fakeUserImpersonations to make tests less flaky
  src/organisms/TopBar/Resources/ReleaseNotesDialog/ReleasePosts/ReleasePosts.test.tsx
  src/tests/mockHandlers.ts
Due: eslint --fix, prettier --write

:bug: Fix onDelete not being called when pressing enter
  src/molecules/Chip/Chip.stories.tsx
  src/molecules/Chip/Chip.styles.tsx
  src/molecules/Chip/InteractiveChip.tsx
Due: eslint --fix, prettier --write

:adhesive_bandage: Add missing deprecated tutorial exports
  src/deprecated/index.ts
Due: eslint --fix, prettier --write

:bookmark: 8.5.0
  package-lock.json
  package.json
Due: none

:adhesive_bandage: Fix missing type export
  src/molecules/Chip/Chip.tsx
Due: eslint --fix, prettier --write

:white_check_mark: Fix bad data-testid on readonly chip
  src/molecules/Chip/Chip.test.tsx
  src/molecules/Chip/Chip.tsx
  src/molecules/Chip/ReadOnlyChip.tsx
Due: eslint --fix, prettier --write

:package: Fix SAM peer-dep version
  package-lock.json
  package.json
Due: none

:green_heart: Fix storybook build
  .idea/amplify-components.iml
  Dockerfile
  proxy/securityheaders.conf
Due: hadolint Dockerfile -t warning

:sparkles: Add Accordion re-export
  src/molecules/Accordion/Accordion.docs.mdx
  src/molecules/Accordion/Accordion.stories.tsx
  src/molecules/index.ts
Due: eslint --fix, prettier --write

:green_heart: Fix equinor font not being fetched because of MSW error
  .storybook/main.js
  .storybook/preview.tsx
  Dockerfile
  proxy/securityheaders.conf
  src/atoms/icons/icons.stories.tsx
  src/tests/mockHandlers.ts
Due: hadolint Dockerfile -t warning, eslint --fix, prettier --write

:arrow_up: Upgraded dependencies
  .storybook/preview.tsx
  package-lock.json
  package.json
  src/organisms/DataGrid/DataGrid.test.tsx
  src/organisms/TopBar/Resources/Feedback/FeedbackForm/Severity.tsx
  src/organisms/TopBar/Resources/Resources.test.tsx
  src/tests/browserMocks.ts
  src/tests/setupTests.ts
Due: eslint --fix, prettier --write

:arrow_up: Upgraded to latest EDS
  package-lock.json
  package.json
  src/deprecated/DataCard.test.tsx
  src/molecules/OptionalTooltip/OptionalTooltip.test.tsx
Due: eslint --fix, prettier --write

:sparkles: Re-exporting DatePicker and DateRangePicker
  src/molecules/DatePicker/DatePicker.docs.mdx
  src/molecules/DatePicker/DatePicker.stories.tsx
  src/molecules/DateRangePicker/DateRangePicker.docs.mdx
  src/molecules/DateRangePicker/DateRangePicker.stories.tsx
  src/molecules/index.ts
Due: eslint --fix, prettier --write

:rotating_light: Fixing eslint errors
  .eslintrc.cjs
  src/deprecated/SingleSelectDrawer.tsx
  src/molecules/Button/Button.stories.tsx
  src/molecules/Tabs/Tabs.stories.tsx
  src/organisms/TopBar/Resources/Feedback/Feedback.utils.ts
  src/organisms/TopBar/Resources/Feedback/FeedbackForm/Severity.tsx
Due: eslint --fix, prettier --write

:package: Update lock file
  package-lock.json
Due: none

:white_check_mark: Increase timeout in ApplicationDrawer.test.tsx
  src/organisms/TopBar/ApplicationDrawer/ApplicationDrawer.test.tsx
Due: eslint --fix, prettier --write

:adhesive_bandage: Fix bad import in DateRangePicker.stories.tsx
  src/molecules/DateRangePicker/DateRangePicker.stories.tsx
Due: eslint --fix, prettier --write

:adhesive_bandage: Fix bad import in DatePicker.stories.tsx
  src/molecules/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write

:adhesive_bandage: Fix outlined prop being set to selection control elements
  src/molecules/SelectionControls/Checkbox/Checkbox.tsx
  src/molecules/SelectionControls/Radio/Radio.tsx
  src/molecules/SelectionControls/Switch/Switch.tsx
Due: eslint --fix, prettier --write

:fire: Remove commented out story (Accordion)
  src/molecules/Accordion/Accordion.stories.tsx
Due: eslint --fix, prettier --write

:white_check_mark: Make tests less flaky by introducing sequential/concurrent config for certain describes
  src/atoms/utils/richtext.test.ts
  src/organisms/TopBar/Account/Account.test.tsx
  src/organisms/TopBar/Account/ImpersonateMenu/CreateNewUser/CreateNewUser.test.tsx
  src/organisms/TopBar/Account/ImpersonateMenu/ImpersonateMenu.test.tsx
  src/organisms/TopBar/ApplicationDrawer/ApplicationDrawer.test.tsx
  src/organisms/TopBar/Resources/Resources.test.tsx
Due: eslint --fix, prettier --write

:green_heart: Bump bash version
  Dockerfile
Due: hadolint Dockerfile -t warning

:wrench: Bump bash version on config/Dockerfile
  config/config_files/Dockerfile
Due: hadolint Dockerfile -t warning

:construction_worker: Add build storybook via docker to PR actions
  .github/workflows/build_storybook.yaml
Due: none

:wrench: Set dockerfile bash version with ~=
  Dockerfile
  config/config_files/Dockerfile
Due: hadolint Dockerfile -t warning

:lipstick: Update padding for selection control components
  src/molecules/SelectionControls/SelectionControls.styles.ts
  src/molecules/SelectionControls/Switch/Switch.tsx
Due: eslint --fix, prettier --write

:white_check_mark: added option to pass in mocked roles
  src/atoms/utils/auth_environment.ts
  src/providers/AuthProvider/AuthProvider.tsx
  src/vite-env.d.ts
Due: eslint --fix, prettier --write

:sparkles: Added 'variant' to snackbarprovider
  .storybook/preview.tsx
  src/atoms/hooks/index.ts
  src/organisms/TopBar/Account/ImpersonateMenu/hooks/useStartImpersonation.ts
  src/providers/SnackbarProvider/SnackbarProvider.stories.tsx
  src/providers/SnackbarProvider/SnackbarProvider.styles.ts
  src/providers/SnackbarProvider/SnackbarProvider.test.tsx
  src/providers/SnackbarProvider/SnackbarProvider.tsx
  src/providers/SnackbarProvider/SnackbarProvider.utils.ts
  src/providers/index.ts
Due: eslint --fix, prettier --write

:white_check_mark: Added test for snackbar variants
  package-lock.json
  src/providers/SnackbarProvider/SnackbarProvider.styles.ts
  src/providers/SnackbarProvider/SnackbarProvider.test.tsx
Due: eslint --fix, prettier --write

:bug: Fix placement of ImpersonateMenu
  src/organisms/TopBar/Account/ImpersonateMenu/ImpersonateMenu.tsx
Due: eslint --fix, prettier --write

:construction: Started on LoadingProvider
  package-lock.json
  package.json
  src/providers/AuthProvider/AuthProvider.tsx
  src/providers/AuthProvider/AuthProviderInner.tsx
  src/providers/LoadingProvider.test.tsx
  src/providers/LoadingProvider.tsx
  src/providers/index.ts
  src/tests/mockHandlers.ts
Due: eslint --fix, prettier --write

:sparkles: Created LoadingProvider
  src/providers/AuthProvider/AuthProvider.tsx
  src/providers/LoadingProvider.test.tsx
  src/providers/LoadingProvider.tsx
  src/tests/mockHandlers.ts
Due: eslint --fix, prettier --write

:bookmark: 8.5.1
  package-lock.json
  package.json
Due: none

:white_check_mark: Update faker mock data in Sieve.test to avoid tests crashing
  src/molecules/Sieve/Sieve.test.tsx
Due: eslint --fix, prettier --write

:bug: Fixing width of Select Menu when item names are long
  src/molecules/Select/ComboBox/ComboBox.stories.tsx
  src/molecules/Select/Select.styles.ts
  src/molecules/Select/Select.tsx
  src/molecules/Select/SelectMenuItem.tsx
  src/molecules/Select/SingleSelect/SingleSelect.stories.tsx
Due: eslint --fix, prettier --write

:sparkles: Added 'customQueryKeys' prop to LoadingProvider
  src/providers/LoadingProvider.test.tsx
  src/providers/LoadingProvider.tsx
Due: eslint --fix, prettier --write

:sparkles: Added 'helperText' prop to Select component
  src/molecules/Select/ComboBox/ComboBox.stories.tsx
  src/molecules/Select/Select.styles.ts
  src/molecules/Select/Select.tsx
  src/molecules/Select/Select.types.ts
  src/molecules/Select/SingleSelect/SingleSelect.stories.tsx
Due: eslint --fix, prettier --write

:white_check_mark: Added tests for new helperText prop
  src/molecules/Select/Select.test.tsx
Due: eslint --fix, prettier --write

:green_heart: Fixing storybook related errors when in a docker build
  .storybook/main.js
  proxy/securityheaders.conf
  src/atoms/hooks/hooks.stories.tsx
  src/molecules/Accordion/Accordion.docs.mdx
  src/molecules/Badge/Badge.docs.mdx
  src/molecules/DatePicker/DatePicker.docs.mdx
  src/molecules/DateRangePicker/DateRangePicker.docs.mdx
  src/organisms/Card/Card.docs.mdx
Due: eslint --fix, prettier --write

:bug: Fixing svg ids overlapping for app icons and Waves component
  src/molecules/ApplicationIcon/ApplicationIconBase.tsx
  src/molecules/ApplicationIcon/NoiseShape.tsx
  src/molecules/ApplicationIcon/WaveShape.tsx
  src/organisms/FieldSelector/SelectorCard/SelectorCard.tsx
Due: eslint --fix, prettier --write
