Repository equinor/amplify-component-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: hadolint Dockerfile -t warning, eslint --fix, prettier --write

.lintstagedrc.yaml:

'Dockerfile': ['hadolint Dockerfile -t warning']
"*.{js,mjs,tsx,ts,tsx,css}": ['eslint --fix', 'prettier --write']

:sparkles: Created TutorialHighlightingProvider
  bun.lockb
  package.json
  src/providers/TutorialHighlightingProvider/TutorialHighlightingProvider.stories.tsx
  src/providers/TutorialHighlightingProvider/TutorialPopover/TutorialPopover.tsx
Due: eslint --fix, prettier --write

:white_check_mark: Fixing tests that broke when bumping
  bun.lockb
  package.json
  src/atoms/utils/favicon.test.tsx
  src/molecules/RichTextEditor/RichTextEditor.test.tsx
  src/molecules/Sieve/Sieve.test.tsx
  src/tests/mockHandlers.ts
Due: eslint --fix, prettier --write

:white_check_mark: Change expect for "partially failed" feedback form
  src/organisms/TopBar/Resources/Feedback/tests/ReportABug.test.tsx
Due: eslint --fix, prettier --write

:white_check_mark: 100% coverage on TutorialHighlightingProvider
  src/atoms/utils/tutorials.test.tsx
  src/providers/SnackbarProvider/SnackbarProvider.test.tsx
  src/providers/TutorialHighlightingProvider/TutorialHighlightingProvider.stories.tsx
  src/providers/TutorialHighlightingProvider/TutorialHighlightingProvider.test.tsx
  src/providers/TutorialHighlightingProvider/TutorialHighlightingProviderInner.tsx
  src/providers/TutorialHighlightingProvider/TutorialPopover/StepIndicator.tsx
  src/providers/TutorialHighlightingProvider/TutorialPopover/TutorialPopover.tsx
  src/providers/TutorialHighlightingProvider/hooks/useReversedScrollY.ts
  src/tests/mockHandlers.ts
Due: eslint --fix, prettier --write

:sparkles: Created TopBar.Tutorials
  bun.lockb
  package.json
  src/atoms/utils/tutorials.ts
  src/organisms/TopBar/Resources/Resources.stories.tsx
  src/organisms/TopBar/Resources/Resources.test.tsx
  src/organisms/TopBar/Resources/Resources.tsx
  src/organisms/TopBar/Resources/Tutorials/TutorialInfoDialog.test.tsx
  src/organisms/TopBar/Resources/Tutorials/TutorialInfoDialog.tsx
  src/organisms/TopBar/Resources/Tutorials/TutorialItem.test.tsx
  src/organisms/TopBar/Resources/Tutorials/TutorialItem.tsx
  src/organisms/TopBar/Tutorials/TutorialItem.tsx
  src/organisms/TopBar/Tutorials/Tutorials.stories.tsx
  src/organisms/TopBar/Tutorials/Tutorials.styles.ts
  src/organisms/TopBar/Tutorials/Tutorials.tsx
  src/organisms/TopBar/index.ts
  src/providers/TutorialHighlightingProvider/TutorialHighlightingProvider.stories.tsx
  src/providers/TutorialHighlightingProvider/TutorialHighlightingProviderInner.tsx
  src/providers/TutorialHighlightingProvider/TutorialPopover/TutorialPopover.tsx
  src/providers/TutorialHighlightingProvider/hooks/useReversedScrollY.ts
  src/tests/mockHandlers.ts
Due: eslint --fix, prettier --write

:white_check_mark: Created tests for TopBar.Tutorials
  src/atoms/utils/tutorials.ts
  src/organisms/TopBar/Resources/Resources.test.tsx
  src/organisms/TopBar/Tutorials/TutorialItem.tsx
  src/organisms/TopBar/Tutorials/Tutorials.test.tsx
  src/organisms/TopBar/Tutorials/Tutorials.tsx
Due: eslint --fix, prettier --write

:white_check_mark: Update handlers for image content test - TutorialHighlightingProvider test
  src/providers/TutorialHighlightingProvider/TutorialHighlightingProvider.test.tsx
Due: eslint --fix, prettier --write

:white_check_mark: Add 2s timeout to image content test
  src/providers/TutorialHighlightingProvider/TutorialHighlightingProvider.test.tsx
Due: eslint --fix, prettier --write

✨ Added missing wireline icon
  src/atoms/icons/drilling.ts
Due: eslint --fix, prettier --write

:bookmark: 9.2.0
  package.json
Due: none

:memo: Added documentation on how to use TutorialHighlightingProvider
  .storybook/index.css
  .storybook/main.ts
  .storybook/preview.tsx
  bun.lockb
  package.json
  src/organisms/TopBar/Tutorials/Tutorials.stories.tsx
  src/providers/TutorialHighlightingProvider/TutorialHighlightingProvider.docs.mdx
  src/providers/TutorialHighlightingProvider/TutorialHighlightingProvider.stories.tsx
Due: eslint --fix, prettier --write

Update src/providers/TutorialHighlightingProvider/TutorialHighlightingProvider.docs.mdx
  src/providers/TutorialHighlightingProvider/TutorialHighlightingProvider.docs.mdx
Due: none

:clown_face: Change get image mocks to just return dataUri from faker instead of fetching image
  src/tests/mockHandlers.ts
Due: eslint --fix, prettier --write

:wrench: Fix for acl and common dockerfile
  Dockerfile
  config/config_files/Dockerfile
Due: hadolint Dockerfile -t warning

Update config/config_files/Dockerfile
  config/config_files/Dockerfile
Due: hadolint Dockerfile -t warning

:fire: Remove apk bash command from ACL dockerfile
  Dockerfile
Due: hadolint Dockerfile -t warning

:recycle: Change to bin/sh instead of bin/bash
  Dockerfile
Due: hadolint Dockerfile -t warning

:recycle: Change to sh instead of bash
  config/config_files/Dockerfile
  config/config_files/env.sh
  secrets.sh
Due: hadolint Dockerfile -t warning

:white_check_mark: Write tests for APIErrorSnackbar
  src/providers/SnackbarProvider/SnackbarProvider.test.tsx
Due: eslint --fix, prettier --write

:white_check_mark: Don't show api error snackbar in ReportABug tests (to make matching text simpler)
  src/organisms/TopBar/Resources/Feedback/tests/ReportABug.test.tsx
Due: eslint --fix, prettier --write

:adhesive_bandage: Spread current default options so we don't lose them if using APIErrorSnackbar
  src/providers/SnackbarProvider/APIErrorSnackbar.tsx
Due: eslint --fix, prettier --write

:children_crossing: Make SideBar menu items top container scrollable
  src/organisms/SideBar/CreateItem.styles.ts
  src/organisms/SideBar/MenuItem.styles.ts
  src/organisms/SideBar/SideBar.styles.ts
Due: eslint --fix, prettier --write

:sparkles: Add 'syncToURLParam' to StepperProvider
  src/molecules/Stepper/Stepper.stories.tsx
  src/molecules/Stepper/Stepper.test.tsx
  src/providers/StepperProvider.tsx
Due: eslint --fix, prettier --write

:white_check_mark: Write tests for new stepper functionality
  src/molecules/Stepper/Stepper.jsdom.test.tsx
  src/molecules/Stepper/Stepper.test.tsx
  src/providers/StepperProvider.jsdom.test.tsx
Due: eslint --fix, prettier --write

:lipstick: Change default date formats
  src/atoms/utils/date.test.ts
  src/atoms/utils/date.ts
  src/molecules/DatePicker/DatePicker.test.tsx
  src/molecules/DatePicker/DatePicker.tsx
Due: eslint --fix, prettier --write

:sparkles: Created PageTitle component
  src/organisms/PageTitle/PageTitle.test.tsx
  src/organisms/PageTitle/PageTitle.tsx
  src/organisms/index.ts
Due: eslint --fix, prettier --write

:memo: Add custom source doc to Filters story
  src/organisms/Filter/Filter.stories.tsx
Due: eslint --fix, prettier --write

:wrench: Change to use text lock file instead of binary
  Dockerfile
  bun.lock
  bun.lockb
  config/config_files/Dockerfile
Due: hadolint Dockerfile -t warning

:label: Update types for FileProgress component
  src/molecules/FileProgress/FileProgress.stories.tsx
  src/molecules/FileProgress/FileProgress.test.tsx
  src/molecules/FileProgress/FileProgress.tsx
  src/molecules/FileProgress/FileProgress.types.ts
Due: eslint --fix, prettier --write

:label: Update types for Compact/Regular file progress components
  src/molecules/FileProgress/CompactFileProgress.tsx
  src/molecules/FileProgress/FileProgress.types.ts
  src/molecules/FileProgress/RegularFileProgress.tsx
  src/molecules/index.ts
Due: eslint --fix, prettier --write

:memo: Add JSDoc string
  src/molecules/FileProgress/FileProgress.tsx
Due: eslint --fix, prettier --write

:bulb: Update comment above formatDate fn
  src/atoms/utils/date.ts
Due: eslint --fix, prettier --write

:label: Update FileProgress types
  src/molecules/FileProgress/CompactFileProgress.tsx
  src/molecules/FileProgress/FileProgress.test.tsx
  src/molecules/FileProgress/FileProgress.types.ts
  src/molecules/FileProgress/RegularFileProgress.tsx
Due: eslint --fix, prettier --write

:alien: Change to not use "fullName" property from ImpersonateUserDto
  src/organisms/TopBar/Account/Account.tsx
  src/organisms/TopBar/Account/ImpersonateAvatar.tsx
  src/organisms/TopBar/Account/ImpersonateMenu/DeleteUser/DeleteUser.tsx
  src/organisms/TopBar/Account/ImpersonateMenu/Impersonate.utils.ts
  src/organisms/TopBar/Account/ImpersonateMenu/ImpersonateMenu.tsx
  src/organisms/TopBar/Account/ImpersonateMenu/UserImpersonation.tsx
  src/organisms/TopBar/Account/ImpersonateMenu/hooks/useStartImpersonation.ts
  src/tests/mockHandlers.ts
Due: eslint --fix, prettier --write

:adhesive_bandage: Fix search not working
  src/organisms/TopBar/Account/ImpersonateMenu/ImpersonateMenu.tsx
Due: eslint --fix, prettier --write

:bookmark: 9.3.0
  package.json
Due: none

:sparkles: Add onAddItem to SingleSelect
  src/molecules/Select/ListSelectMenu.tsx
  src/molecules/Select/Select.tsx
  src/molecules/Select/Select.types.ts
  src/molecules/Select/SelectMenuItem.tsx
  src/molecules/Select/SingleSelect/SingleSelect.stories.tsx
  src/molecules/Select/SingleSelect/SingleSelect.test.tsx
Due: eslint --fix, prettier --write

:rotating_light: Remove old multiselect prop
  src/molecules/Select/GroupedSelectMenu.tsx
Due: eslint --fix, prettier --write

:technologist: Add error when trying to use groups + onAddItem in singleselect
  src/molecules/Select/SingleSelect/SingleSelect.test.tsx
  src/molecules/Select/SingleSelect/SingleSelect.tsx
Due: eslint --fix, prettier --write

:bug: "No items found" text was not shown if you have an onAddItem handler in Select components
  src/molecules/Select/ListSelectMenu.tsx
  src/molecules/Select/Select.test.tsx
Due: eslint --fix, prettier --write
