Repository equinor/amplify-component-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: hadolint Dockerfile -t warning, eslint --fix, prettier --write

🐛 fix storybook banner url
  .storybook/amplifyTheme.js
Due: eslint --fix, prettier --write

:bug: Fix image in storybook deploy
  proxy/securityheaders.conf
  src/intro.mdx
  static/amplify_logo.png
  static/amplify_logotype_dark.png
Due: none

:white_check_mark: Attempt to make SnackbarProvider tests less flaky
  src/providers/SnackbarProvider/SnackbarProvider.test.tsx
Due: eslint --fix, prettier --write

:bug: Fix onAddItem being called twice when hitting 'Enter' on add tag menu item
  src/atoms/hooks/useSelect.ts
  src/molecules/Select/AddTagItem.tsx
  src/molecules/Select/ComboBox/ComboBox.test.tsx
  src/molecules/Select/ListSelectMenu.tsx
  src/molecules/Select/Select.tsx
  src/molecules/Select/Select.types.ts
Due: eslint --fix, prettier --write

:bug: Replace old url in TopBar/Resources/ReleaseNotes -> open
  src/organisms/TopBar/Resources/ReleaseNotesDialog/FilterHeader/FilterHeader.tsx
Due: eslint --fix, prettier --write

:memo: Add VITE_ENVIRONMENT_NAME=development to storybook env
  .storybook/main.js
Due: eslint --fix, prettier --write

:white_check_mark: Updated tests related to URL change
  src/organisms/TopBar/Resources/ReleaseNotesDialog/FilterHeader/FilterHeader.test.tsx
  src/organisms/TopBar/Resources/ReleaseNotesDialog/FilterHeader/FilterHeader.tsx
Due: eslint --fix, prettier --write

:rewind: Revert back to old AppIcons(keeping new icons in story to be able to show)
  src/molecules/ApplicationIcon/ApplicationIcon.constants.tsx
  src/molecules/ApplicationIcon/ApplicationIcon.stories.tsx
  src/molecules/ApplicationIcon/ApplicationIcon.test.tsx
  src/molecules/ApplicationIcon/ApplicationIcon.tsx
  src/molecules/ApplicationIcon/ApplicationIcon.types.ts
  src/molecules/ApplicationIcon/ApplicationIconBase.tsx
  src/molecules/ApplicationIcon/ApplicationIconCollection.tsx
  src/molecules/ApplicationIcon/ApplicationIconNew/ApplicationIconNew.constants.tsx
  src/molecules/ApplicationIcon/ApplicationIconNew/ApplicationIconNew.stories.tsx
  src/molecules/ApplicationIcon/ApplicationIconNew/ApplicationIconNew.test.tsx
  src/molecules/ApplicationIcon/ApplicationIconNew/ApplicationIconNew.tsx
  src/molecules/ApplicationIcon/ApplicationIconNew/ApplicationIconNew.types.ts
  src/molecules/ApplicationIcon/ApplicationIconNew/ApplicationIconNew.utils.tsx
  src/molecules/ApplicationIcon/ApplicationIconNew/ApplicationIconNewBase.stories.tsx
  src/molecules/ApplicationIcon/ApplicationIconNew/ApplicationIconNewBase.styles.tsx
  src/molecules/ApplicationIcon/ApplicationIconNew/ApplicationIconNewBase.tsx
  src/molecules/ApplicationIcon/ApplicationIconNew/ApplicationIconNewData/AppIconSvg.tsx
  src/molecules/ApplicationIcon/ApplicationIconNew/ApplicationIconNewData/ApplicationIconNewCollection.tsx
  src/molecules/ApplicationIcon/ApplicationIconNew/NoiseShape.tsx
  src/molecules/ApplicationIcon/ApplicationIconNew/WaveShape.tsx
  src/molecules/ApplicationIcon/Icons/Acquire.tsx
  src/molecules/ApplicationIcon/Icons/Bravos.tsx
  src/molecules/ApplicationIcon/Icons/Dasha.tsx
  src/molecules/ApplicationIcon/Icons/Fallback.tsx
  src/molecules/ApplicationIcon/Icons/FourDInsight.tsx
  src/molecules/ApplicationIcon/Icons/InPress.tsx
  src/molecules/ApplicationIcon/Icons/LoggingQualification.tsx
  src/molecules/ApplicationIcon/Icons/Orca.tsx
  src/molecules/ApplicationIcon/Icons/Portal.tsx
  src/molecules/ApplicationIcon/Icons/Premo.tsx
  src/molecules/ApplicationIcon/Icons/Pwex.tsx
  src/molecules/ApplicationIcon/Icons/Recap.tsx
  src/molecules/FullPageSpinner/FullPageSpinner.tsx
  src/organisms/TopBar/TopBar.tsx
Due: eslint --fix, prettier --write

:adhesive_bandage: Added some more name options to app icon incase of different names some places
  src/molecules/ApplicationIcon/ApplicationIcon.tsx
Due: eslint --fix, prettier --write

:adhesive_bandage: removed unused imports
  src/molecules/FullPageSpinner/FullPageSpinner.tsx
Due: eslint --fix, prettier --write

:white_check_mark: Commented out a test only relevant to new app icons
  src/molecules/ApplicationIcon/ApplicationIcon.test.tsx
  src/molecules/FullPageSpinner/FullPageSpinner.test.tsx
  src/molecules/FullPageSpinner/FullPageSpinner.tsx
Due: eslint --fix, prettier --write

✨ Add storybook test github action
  config/config_files/workflows/storybook-tests.yaml
Due: none

✨ Add storybook eslint plugin
  config/config_files/.eslintignore
  config/config_files/.eslintrc.js
Due: eslint --fix, prettier --write

🔧 Add storybook configs
  config/config_files/Dockerfile
  config/config_files/tsconfig.json
Due: hadolint Dockerfile -t warning

:bug: Potential fix for old app icon story
  src/molecules/ApplicationIcon/ApplicationIcon.stories.tsx
Due: eslint --fix, prettier --write

:bookmark: 8.7.0
  package-lock.json
  package.json
Due: none

:adhesive_bandage: Add withHover prop to app icon in topbar
  src/organisms/TopBar/TopBar.tsx
Due: eslint --fix, prettier --write

🚧 Added tests and bumped version
  package-lock.json
  package.json
  src/organisms/SideBar/MenuItem.utils.test.ts
Due: eslint --fix, prettier --write

:lipstick: added option to keep style on drilled paths (#694)
  package-lock.json
  package.json
  src/organisms/SideBar/MenuItem.tsx
  src/organisms/SideBar/MenuItem.utils.test.ts
  src/organisms/SideBar/MenuItem.utils.ts
Due: eslint --fix, prettier --write

:wrench: Added API_CLIENT_ID env variable for impersonate functionality
  config/config_files/env.sh
Due: none

:sparkles: Added util to get new API_CLIENT_ID env var
  src/atoms/utils/auth_environment.ts
Due: eslint --fix, prettier --write

🐛 Impersonate user name
  src/organisms/TopBar/Account/ImpersonateMenu/UserImpersonation.tsx
Due: eslint --fix, prettier --write

:package: New SAM package
  package-lock.json
  package.json
Due: none

:bug: Fixed menu being off when using chrome
  src/organisms/TopBar/Account/ImpersonateMenu/Impersonate.styles.ts
  src/organisms/TopBar/Account/ImpersonateMenu/ImpersonateMenu.tsx
Due: eslint --fix, prettier --write

:sparkles: use ned env variable in Impersonate
  src/organisms/TopBar/Account/ImpersonateMenu/hooks/useAllAppRoles.ts
  src/vite-env.d.ts
Due: eslint --fix, prettier --write

:package: SAM 1.1.10
  package-lock.json
  package.json
Due: none

:alien: New impersonate type, and refactor
  src/organisms/TopBar/Account/Account.tsx
  src/organisms/TopBar/Account/ImpersonateAvatar.tsx
  src/organisms/TopBar/Account/ImpersonateMenu/CreateNewUser/CreateNewUser.tsx
  src/organisms/TopBar/Account/ImpersonateMenu/UserImpersonation.tsx
  src/organisms/TopBar/Account/ImpersonateMenu/hooks/useActiveImpersonationUser.ts
  src/organisms/TopBar/Account/ImpersonateMenu/hooks/useCreateImpersonation.ts
  src/organisms/TopBar/Account/ImpersonateMenu/hooks/useGetAllImpersonationUsersForApp.ts
  src/tests/mockHandlers.ts
Due: eslint --fix, prettier --write

:recycle: Fixed missed refactor
  src/organisms/TopBar/Account/ImpersonateMenu/hooks/useStartImpersonation.ts
Due: eslint --fix, prettier --write

Fixes enum export and makes sure to export the table bar from rich text editor
  src/molecules/RichTextEditor/MenuBar/MenuBar.tsx
  src/molecules/index.ts
Due: eslint --fix, prettier --write

:white_check_mark: Fixing mocks for backend changes
  src/organisms/TopBar/Account/Account.test.tsx
  src/organisms/TopBar/Account/ImpersonateMenu/hooks/useGetAllImpersonationUsersForApp.ts
  src/tests/mockHandlers.ts
  src/tests/setupTests.ts
Due: eslint --fix, prettier --write

:bookmark: 8.7.2
  package-lock.json
  package.json
Due: none

:package: SAM - 1.1.11
  package-lock.json
  package.json
Due: none

:alien: Fixes for change in endpoints
  src/organisms/TopBar/Account/ImpersonateMenu/CreateNewUser/CreateNewUser.tsx
  src/organisms/TopBar/Account/ImpersonateMenu/hooks/useCreateImpersonation.ts
Due: eslint --fix, prettier --write

fix: update secret scanning workflow to use trufflesecurity with verified
  .github/workflows/secret_scanning.yaml
  config/config_files/workflows/secret_scanning.yaml
Due: none

fix: update secret scanning workflow to use trufflesecurity with verified (#747)
  .github/workflows/secret_scanning.yaml
  config/config_files/workflows/secret_scanning.yaml
Due: none

✨ Border Variant Horizontal
  src/organisms/TableOfContents/TableOfContents.constants.ts
  src/organisms/TableOfContents/TableOfContents.stories.tsx
  src/organisms/TableOfContents/TableOfContents.styles.ts
  src/organisms/TableOfContents/TableOfContents.tsx
  src/organisms/TableOfContents/TableOfContents.types.ts
Due: eslint --fix, prettier --write

:bug: fix stop/start impersonation bug
  src/organisms/TopBar/Account/ImpersonateButton.tsx
  src/organisms/TopBar/Account/ImpersonateMenu/Actions.tsx
Due: eslint --fix, prettier --write

:bug: fix reload page on create & start impersonation
  src/organisms/TopBar/Account/ImpersonateMenu/hooks/useCreateImpersonation.ts
Due: eslint --fix, prettier --write

:bug: Fixed storybook theme contrast being off in system darkmode
  .storybook/amplifyTheme.js
Due: eslint --fix, prettier --write

:bookmark: 8.7.3
  package-lock.json
  package.json
Due: none

Path conditions:
  hadolint Dockerfile -t warning: any of: Dockerfile
  eslint --fix: any of: *.{js,mjs,tsx,ts,tsx,css}
  prettier --write: any of: *.{js,mjs,tsx,ts,tsx,css}
