Repository equinor/amplify-component-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: hadolint Dockerfile -t warning, eslint --fix, prettier --write

:sparkle: add option for additional info banner in dialog
  src/molecules/Dialog/Dialog.stories.tsx
  src/molecules/Dialog/Dialog.styles.ts
  src/molecules/Dialog/Dialog.test.tsx
  src/molecules/Dialog/Dialog.tsx
Due: eslint --fix, prettier --write

fix: deny access to env.sh (#895)
  config/config_files/nginx.conf
Due: none

:bookmark: bump version to 8.17.0
  package-lock.json
  package.json
Due: none

:sparkles: Added sort and quick filter to Filter component
  src/molecules/RichTextEditor/index.ts
  src/organisms/Filter/ButtonWithMenu.tsx
  src/organisms/Filter/Filter.stories.tsx
  src/organisms/Filter/Filter.styles.ts
  src/organisms/Filter/Filter.test.tsx
  src/organisms/Filter/Filter.tsx
  src/organisms/Filter/Filter.types.ts
  src/organisms/Filter/QuickFilter.tsx
  src/organisms/Filter/Sorting.tsx
Due: eslint --fix, prettier --write

:adhesive_bandage: Fix bad export of Filter types
  src/organisms/index.ts
Due: eslint --fix, prettier --write

:recycle: Change Filter/Sorting so it changes width when going between sortings
  src/organisms/Filter/Sorting.tsx
Due: eslint --fix, prettier --write

:bookmark: 8.17.1
  package-lock.json
  package.json
Due: none

change danger red fill and danger red text to better contrast AA values on ui light
  src/atoms/style/darkTokens.ts
Due: eslint --fix, prettier --write

:arrow_up: run npm audit fix
  package-lock.json
Due: none

:ambulance: Export AmplifyKit
  src/molecules/index.ts
Due: eslint --fix, prettier --write

:bookmark: 8.17.2
  package-lock.json
  package.json
Due: none

:construction_worker: Change to use bun
  .github/workflows/build.yaml
  .github/workflows/build_storybook.yaml
  .github/workflows/code_coverage.yaml
  .github/workflows/eslint.yaml
  .github/workflows/npm_publish.yaml
  .github/workflows/test.yaml
  .gitignore
  Dockerfile
  bun.lockb
  config/config_files/.gitignore
  config/config_files/.pre-commit-config.yaml
  config/config_files/Dockerfile
  config/config_files/setupLocalhost.mjs
  config/config_files/workflows/build.yaml
  config/config_files/workflows/e2e.yaml
  config/config_files/workflows/eslint.yaml
  config/config_files/workflows/test.yaml
  package-lock.json
  package.json
  tooling/brute-coverage.mjs
  tooling/build-and-use.mjs
Due: hadolint Dockerfile -t warning, eslint --fix, prettier --write

:construction_worker: Change build to build-components in CI
  .github/workflows/build.yaml
Due: none

:construction_worker: Update storybook dockerfile
  .github/workflows/build_storybook.yaml
  Dockerfile
  bun.lockb
  config/config_files/Dockerfile
  package.json
  public/mockServiceWorker.js
Due: hadolint Dockerfile -t warning, eslint --fix, prettier --write

:construction_worker: Update dockerfile for storybook build
  .gitignore
  .storybook/main.ts
  Dockerfile
  bun.lockb
  package.json
Due: hadolint Dockerfile -t warning, eslint --fix, prettier --write

:white_check_mark: Increase coverage
  .github/workflows/code_coverage.yaml
  .github/workflows/npm_publish.yaml
  .pre-commit-config.yaml
  bun.lockb
  package.json
  src/atoms/hooks/useDebounce.ts
  src/molecules/DatePicker/DatePicker.test.tsx
  src/molecules/Dialog/Dialog.jsdom.test.tsx
  src/molecules/EquinorLogo/EquinorLogo.tsx
  src/molecules/ProfileAvatar/ProfileAvatar.test.tsx
  src/molecules/ProfileAvatar/ProfileAvatar.tsx
  src/molecules/RichTextDisplay/RichTextDisplay.test.tsx
  src/molecules/RichTextEditor/RichTextEditor.jsdom.test.tsx
  src/molecules/RichTextEditor/RichTextEditor.test.tsx
  src/molecules/RichTextEditor/custom-extensions/Counter.tsx
  src/molecules/Select/Select.styles.ts
  src/molecules/TextField/TextField.tsx
  src/organisms/SideBar/MenuItem.test.tsx
  src/organisms/TopBar/Account/ImpersonateMenu/DeleteUser/DeleteUser.test.tsx
  src/organisms/TopBar/ApplicationDrawer/ApplicationDrawer.test.tsx
  src/organisms/TopBar/Resources/Feedback/Feedback.utils.test.ts
  src/organisms/TopBar/Resources/Feedback/Feedback.utils.ts
  src/organisms/TopBar/Resources/ReleaseNotesDialog/ReleaseNotes.test.tsx
Due: eslint --fix, prettier --write

:construction_worker: Remove 'node-version' from github action
  .github/workflows/test.yaml
Due: none

:construction_worker: Change how coverage is reported in github action
  .github/workflows/code_coverage.yaml
  package.json
Due: none

:green_heart:
  .github/workflows/code_coverage.yaml
  package.json
Due: none

:construction_worker: Create 2 workflows for jsdom / browser
  .github/workflows/browser_tests.yaml
  .github/workflows/jsdom_tests.yaml
  .github/workflows/pull_request.yaml
Due: none

:white_check_mark: Update tests
  src/molecules/InfoElement/CopyText.test.tsx
  src/organisms/TopBar/Resources/Feedback/tests/ReportABug.test.tsx
Due: eslint --fix, prettier --write

:white_check_mark: Update tests that were failing
  src/molecules/InfoElement/CopyText.test.tsx
  src/organisms/TopBar/Account/ImpersonateMenu/DeleteUser/DeleteUser.test.tsx
  src/organisms/TopBar/Resources/Feedback/tests/ReportABug.test.tsx
Due: eslint --fix, prettier --write

:construction_worker: Remove firefox and webkit from github action run
  .github/workflows/browser_tests.yaml
Due: none

:white_check_mark: Adding more tests
  src/atoms/hooks/useRichTextImage.test.ts
  src/molecules/ApplicationIcon/ApplicationIcon.jsdom.test.tsx
  src/molecules/ApplicationIcon/ApplicationIcon.test.tsx
  src/molecules/ApplicationIcon/ApplicationIconBase.tsx
  src/molecules/ApplicationIcon/ApplicationIconNew/ApplicationIconNew.tsx
  src/molecules/ApplicationIcon/ApplicationIconNew/ApplicationIconNewBase.tsx
  src/molecules/ApplicationIcon/ApplicationIconNew/NoiseShape.tsx
  src/molecules/ProfileAvatar/ProfileAvatar.jsdom.test.tsx
  src/molecules/RichTextEditor/custom-extensions/Counter.tsx
  src/organisms/TableOfContents/TableOfContents.test.tsx
  src/organisms/TableOfContents/TableOfContents.tsx
  src/organisms/TopBar/Resources/Tutorials/TutorialInfoDialog.test.tsx
  src/organisms/TopBar/Resources/Tutorials/TutorialInfoDialog.tsx
  src/tests/jsdomtest-utils.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write

:white_check_mark: Making tests more stable
  .github/workflows/browser_tests.yaml
  .github/workflows/code_coverage.yaml
  src/molecules/Dialog/Dialog.test.tsx
  src/molecules/FullPageSpinner/FullPageSpinner.test.tsx
  src/molecules/InfoElement/CopyText.test.tsx
  src/organisms/TopBar/Account/ImpersonateMenu/DeleteUser/DeleteUser.test.tsx
  src/organisms/TopBar/ApplicationDrawer/ApplicationDrawer.test.tsx
  src/organisms/TopBar/Resources/Feedback/tests/ReportABug.test.tsx
  src/tests/setupBrowserTests.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

:white_check_mark: Update msw handlers for ApplicationDrawer no apps test
  src/organisms/TopBar/ApplicationDrawer/ApplicationDrawer.test.tsx
Due: eslint --fix, prettier --write

start change of waves
  src/molecules/Waves/NoiseSvg.tsx
  src/molecules/Waves/WaveShapeWithNoise.tsx
  src/molecules/Waves/Waves.styles.ts
  src/molecules/Waves/noise.png
  src/molecules/Waves/noise2.png
Due: eslint --fix, prettier --write

add ui/background_heavy as new color to tokens
  src/atoms/style/colors.ts
  src/atoms/style/darkTokens.ts
  src/atoms/style/lightTokens.ts
Due: eslint --fix, prettier --write

:white_check_mark: Update DeleteUser test to make it more stable
  bun.lockb
  package.json
  src/molecules/FullPageSpinner/FullPageSpinner.test.tsx
  src/organisms/TopBar/Account/ImpersonateMenu/DeleteUser/DeleteUser.test.tsx
Due: eslint --fix, prettier --write

:wrench: Adding config files
  config/config_files/test-utils/setupBrowserTests.ts
  config/config_files/test-utils/setupNodeTests.ts
  config/config_files/vitest.config.ts
  config/config_files/vitest.workspace.ts
Due: eslint --fix, prettier --write

:sparkles: Added "meta" prop to DatePicker
  bun.lockb
  src/molecules/DatePicker/DatePicker.docs.mdx
  src/molecules/DatePicker/DatePicker.stories.tsx
  src/molecules/DatePicker/DatePicker.styles.ts
  src/molecules/DatePicker/DatePicker.test.tsx
  src/molecules/DatePicker/DatePicker.tsx
Due: eslint --fix, prettier --write

:wrench: Added .gitattributes file
  .gitattributes
Due: none

:wrench: Remove gitattributes since it wasn't needed
  .gitattributes
Due: none

:lipstick: Adjust outline width for DatePicker
  src/molecules/DatePicker/DatePicker.styles.ts
Due: eslint --fix, prettier --write

:bookmark: 8.17.3
  package.json
Due: none

:ambulance: Fix bad types in build
  package.json
  tsconfig.build.json
Due: none

:adhesive_bandage: Fix wrong text type for DatePicker meta text
  src/molecules/DatePicker/DatePicker.tsx
Due: eslint --fix, prettier --write

:bookmark: 8.17.5
  package.json
Due: none

Path conditions:
  hadolint Dockerfile -t warning: any of: Dockerfile
  eslint --fix: any of: *.{js,mjs,tsx,ts,tsx,css}
  prettier --write: any of: *.{js,mjs,tsx,ts,tsx,css}
